<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Verified Hire</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='homepage/css/style.css') }}">
  <style type="text/css">
  .templateux-navbar .templateux-logo {
    margin-top: 0px !important;
  }
</style>
</head>
<body>

  <div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">
    <header class="templateux-navbar" role="banner">
      <div class="container"  data-aos="fade-down">
        <div class="row">
           <div class="col-3 templateux-logo" style="display: flex;
    background: #0000007d;
    align-content: center;
    align-items: center;">
            <a href="index.html" class="animsition-link"><b>Verified Hire</b></a>
          </div>
          <nav class="col-9 site-nav" style="background: #0000007d;">
            <button class="d-block d-md-none hamburger hamburger--spin templateux-toggle templateux-toggle-light ml-auto templateux-toggle-menu" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button> 
            <ul class="sf-menu templateux-menu d-none d-md-block">
              <li class="active">
                <a href="{{url_for('main')}}" class="animsition-link">Home</a>
              </li>
              <li><a href="{{url_for('about')}}" class="animsition-link">About</a></li>
              <li><a href="{{url_for('services')}}" class="animsition-link">Services</a></li>
              <li><a href="{{url_for('contact')}}" class="animsition-link">Contact</a></li>
              <li><a href="{{url_for('adminsignin')}}" class="animsition-link">Admin</a></li>
              <li><a href="{{url_for('recruiterlogin')}}" class="animsition-link">Recuitor</a></li>
              <li><a href="{{url_for('employeelogin')}}" class="animsition-link">Employee</a></li>
            </ul> 
          </nav> 
        </div> 
      </div> 
    </header> 
    
    <div class="templateux-cover"  style="background-image: url({{ url_for('static', filename='homepage/images/slider-1.jpg') }});">
      <div class="container">
        <div class="row align-items-lg-center">

          <div class="col-lg-6 order-lg-1 text-center mx-auto">
            <h1 class="heading mb-3 text-white" data-aos="fade-up">About Us</h1>
            <p class="lead mb-5 text-white" data-aos="fade-up"  data-aos-delay="100">Our mission is to establish a new standard of trust in background verification processes through the transformative power of blockchain technology. By harnessing the immutable nature of blockchain, we aim to create a system where background checks leave an indelible mark, ensuring transparency and reliability for all parties involved. Our commitment lies in enabling secure and transparent authentication of credentials, thereby fostering trust in various spheres of life, from employment to finance and beyond. We believe that by empowering individuals and organizations with blockchain-driven verification, we can pave the way for a more trustworthy and equitable society.</p>
          
          </div>
          
        </div>
      </div>
    </div> <!-- .templateux-cover -->

    

</div>
</body>

  <script src="{{ url_for('static', filename='homepage/js/scripts-all.js') }}"></script>
<script src="{{ url_for('static', filename='homepage/js/main.js') }}"></script>

</body>
</html>