
    
<script src="{{ url_for('static', filename='dist/libs/apexcharts/dist/apexcharts.min.js') }}" defer></script>
<script src="{{ url_for('static', filename='dist/libs/jsvectormap/dist/js/jsvectormap.min.js') }}" defer></script>
<script src="{{ url_for('static', filename='dist/libs/jsvectormap/dist/maps/world.js') }}" defer></script>
<script src="{{ url_for('static', filename='dist/libs/jsvectormap/dist/maps/world-merc.js') }}" defer></script>
<script src="{{ url_for('static', filename='jsvalidations/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/tabler.min.js') }}" defer></script>
<script src="{{ url_for('static', filename='dist/js/demo.min.js') }}" defer></script>
  </body>
</html>