<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Verified Hire</title>
  <link href="{{ url_for('static', filename='dist/css/tabler.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='dist/css/tabler-flags.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='dist/css/tabler-payments.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='dist/css/tabler-vendors.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='dist/css/demo.min.css') }}" rel="stylesheet" />
  <style>
    @import url('https://rsms.me/inter/inter.css');

    :root {
      --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }

    body {
      font-feature-settings: "cv03", "cv04", "cv11";
    }

    .hide {
      display: none;
    }
  </style>
</head>

<body>
  <script src="/static/dist/js/demo-theme.min.js?1684106062"></script>
  <div class="page">
    <!-- Navbar -->
    <header class="navbar navbar-expand-md d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
          aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href=".">
            <img src="static/verifiedhirelogo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
          </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
          <div class="nav-item d-none d-md-flex me-3">
            <div class="btn-list">

            </div>
          </div>
          <div class="d-none d-md-flex">


          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
              aria-label="Open user menu">
              <span class="avatar avatar-sm avatarPreview1"
                style="background-image: url(./static/photos/rec.jpg)"></span>
              <div class="d-none d-xl-block ps-2">
                <div id="profname">Loading...</div>
                <div class="mt-1 small text-muted" id="profcomp">Recruitor</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">

              <a href="{{url_for('logout')}}" id="logout" class="dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header class="navbar-expand-md">
      <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
          <div class="container-xl">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="./">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                      stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                      <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                  </span>
                  <span class="nav-link-title">
                    Home
                  </span>
                </a>
              </li>


            </ul>
            <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
              <form action="./" method="get" autocomplete="off" novalidate>
                <div class="input-icon">
                  <span class="input-icon-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                      stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                      <path d="M21 21l-6 -6" />
                    </svg>
                  </span>
                  <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <!-- Page pre-title -->
              <div class="page-pretitle">
                Overview
              </div>
              <h2 class="page-title">
                Recruitor > Home
              </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <div class="btn-list">
                <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                  data-bs-target="#modal-report" aria-label="Create new report">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a href="#tabs-home-7" class="nav-link active" data-bs-toggle="tab" aria-selected="true"
                        role="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24"
                          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                        </svg>
                        Employee Profile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a href="#tabs-docs-7" class="nav-link" data-bs-toggle="tab" aria-selected="true" role="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24"
                          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                        </svg>
                        Documents</a>
                    </li>

                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-home-7" role="tabpanel">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Employee Profile</h3>
                        </div>
                        <div class="card-body border-bottom py-3">
                          <div class="row row-cards">



                            <div class="row">
                              <div class="col-md-4 mb-3">
                                <div class="mb-3 mt-3">
                                  <label class="form-label">UID</label>
                                  <input class="form-control" id="uid" placeholder="UID">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="mb-3 mt-3">
                                  <label class="form-label" style="visibility: hidden;">Name</label>
                                  <button type="button" id="getprofile" class="btn btn-primary">Get Profile</button>
                                </div>
                              </div>
                            </div>

                            <div id="backgrounddetails" style="display: none;">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="mb-3">
                                    <div class="row">
                                      <div class="col-auto">

                                        <label for="imageInput" class="">
                                          <span class="avatar avatar-md avatarPreview"
                                            style="background-image: url(./static/avatars/002m.jpg)"></span>
                                        </label>
                                        <input type="file" id="imageInput" accept=".png, .jpg, .jpeg"
                                          style="display: none;">

                                      </div>
                                      <div class="col">
                                        <div class="mb-3">
                                          <label class="form-label">Name</label>
                                          <input class="form-control" id="username" placeholder="Name" readonly>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">First Name</label>
                                      <input type="text" class="form-control" placeholder="Name" id="firstname">
                                      <span id="nameerror" class="hide text-danger">* Name should not be empty and
                                        cannot contain numbers</span>
                                    </div>
                                  </div>
                                  <div class="col-sm-4 col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Last Name</label>
                                      <input type="text" class="form-control" placeholder="Last Name" id="lastname">
                                    </div>
                                  </div>

                                  <div class="col-sm-4 col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Email address</label>
                                      <input type="email" readonly class="form-control" placeholder="Email" id="email">
                                      <span id="emailerror" class="hide text-danger">* Enter valid Email ID</span>
                                    </div>
                                  </div>
                                  <div class="col-sm-4 col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Phone</label>
                                      <input type="number" class="form-control" placeholder="Phone" id="phone">
                                      <span id="phoneerror" class="hide text-danger">* Phone number cannot be les than
                                        10 and should not exceed 12</span>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="mb-3">
                                      <label class="form-label">Address</label>
                                      <textarea class="form-control" placeholder="Home Address" id="address"></textarea>
                                      <span id="addresserror" class="hide text-danger">* Enter valid address</span>
                                    </div>
                                  </div>
                                </div>

                                <div class="row row-cards">
                                  <u>
                                    <h3 class="card-title mt-3">Career (Profile)</h3>
                                  </u>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Organization Name</label>
                                      <input type="text" class="form-control" placeholder="Organization Name"
                                        id="orgname">

                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Designation</label>
                                      <input type="text" class="form-control" placeholder="Designation"
                                        id="designation">

                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Responsibility</label>
                                      <input type="text" class="form-control" placeholder="Responsibility"
                                        id="responsibility">
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Salary(LPA)</label>
                                      <input type="number" class="form-control" placeholder="Salary" id="salary">
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">City</label>
                                      <input type="text" class="form-control" placeholder="City" id="orgcity">
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Total No. Of Experience (Yrs)</label>
                                      <input type="text" class="form-control" placeholder="Experience" id="expyears">

                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="mb-3">
                                    <label class="form-label">Skills</label>
                                    <textarea readonly class="form-control" placeholder="Skills" id="skills"></textarea>
                                    <span id="skillserror" class="hide text-danger">* Enter valid Skills</span>
                                  </div>
                                </div>

                                <div class="row row-cards">
                                  <u>
                                    <h3 class="card-title mt-3">Academic Profile (Latest)</h3>
                                  </u>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">College Name</label>
                                      <input type="text" class="form-control" placeholder="College Name"
                                        id="collegename">
                                      <span id="collegenameerror" class="hide text-danger">* Enter valid college
                                        name</span>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Course</label>
                                      <input type="text" class="form-control" placeholder="Course" id="course">
                                      <span id="courseerror" class="hide text-danger">* Enter valid course</span>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Score</label>
                                      <input type="number" class="form-control" placeholder="Score" id="score">
                                      <span id="scoreerror" class="hide text-danger">* Enter valid score or grade</span>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Affilated University</label>
                                      <input type="text" class="form-control" placeholder="Affilated University"
                                        id="affilateduniversity">
                                      <span id="affilateduniversityerror" class="hide text-danger">* Enter valid
                                        university name</span>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">Academic Year</label>
                                      <input type="number" class="form-control" placeholder="Academic Year"
                                        id="academicyear">
                                      <span id="academicyearerror" class="hide text-danger">* Enter valid academic
                                        year</span>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label class="form-label">City</label>
                                      <input type="text" class="form-control" placeholder="City" id="colcity">
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-start">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="tab-pane" id="tabs-docs-7" role="tabpanel">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Your Documents</h3>
                          </div>
                          <div class="card-body border-bottom py-3">
                            <div class="row row-cards">
                              <div class="col-12">
                                <div class="card">
                                  <div class="table-responsive">
                                    <table class="table table-vcenter table-mobile-md card-table">
                                      <thead>
                                        <tr>
                                          <th>Document Name</th>
                                          <th>is Verified</th>
                                          <th>Verified By</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody id="docdetail">

                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <!--                                 <button type="button" id="documentupload" class="btn btn-primary">Upload Document</button>
 -->
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Document Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- <pre id="doc_res"></pre> -->

            <div id="doc_res2"></div>
          </div>
          <div class="modal-footer" id="doc_btn_save_hide">
            <button type="button" class="btn btn-primary" onclick="saveDoc()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="fname">


    <!-- Libs JS -->
    <script src="{{ url_for('static', filename='dist/libs/apexcharts/dist/apexcharts.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='dist/libs/jsvectormap/dist/js/jsvectormap.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='dist/libs/jsvectormap/dist/maps/world.js') }}" defer></script>
    <script src="{{ url_for('static', filename='dist/libs/jsvectormap/dist/maps/world-merc.js') }}" defer></script>
    <script src="{{ url_for('static', filename='jsvalidations/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/tabler.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='dist/js/demo.min.js') }}" defer></script>
    <script type="text/javascript">
      $(document).ready(function () {

        $.ajax({
          url: "/getrecruitorData",
          type: "post",
          dataType: 'json',
          data: {},
          success: function (output) {
            $("#profname").html(output["employee_data"][0])
            $("#profcomp").html(output["employee_data"][4])
          }
        });

        $("#getprofile").click(function () {
          var uid = $("#uid").val()
          if (uid == "") {
            alert("Please enter the emloyee universal ID")
          } else {
            $.ajax({
              url: "/recuitorSearch",
              type: "post",
              dataType: 'json',
              data: { "uid": uid },
              beforeSend: function () {

              },
              success: function (output) {

                if (output.academic_info.length > 0) {

                  $("#username").val(output.employee_data[0])
                  //$("#profname").html(output.employee_data[0])
                  $('#firstname').val(output.basic_info[0])
                  $('#lastname').val(output.basic_info[1])
                  $('#email').val(output.employee_data[1])
                  $('#phone').val(output.employee_data[3])
                  $('#address').val(output.basic_info[4])

                  $('#orgname').val(output.working_info[1])
                  $('#designation').val(output.working_info[2])
                  $('#responsibility').val(output.working_info[3])
                  $('#salary').val(output.working_info[4])
                  $('#orgcity').val(output.working_info[5])
                  $('#expyears').val(output.working_info[6])
                  $('#skills').val(output.working_info[7])

                  $('#collegename').val(output.academic_info[1])
                  $('#course').val(output.academic_info[2])
                  $('#score').val(output.academic_info[3])
                  $('#affilateduniversity').val(output.academic_info[4])
                  $('#colcity').val(output.academic_info[5])
                  $('#academicyear').val(output.academic_info[6])

                  var url = '/static/profileimages/' + output.basic_info[5]
                  console.log(url)
                  $('.avatarPreview').css('background-image', 'url(' + encodeURI(url) + ')');


                  docs = output.proof_info;
                  for (var i = 0; i <= output.proof_info.length - 1; i++) {
                    var doc = ''
                    if (output.proof_info[i][6] == false) {
                      var stat = '<span class="badge bg-yellow text-yellow-fg">Pending</span>'
                    } else {
                      var stat = '<span class="badge bg-green text-green-fg">Verified</span>'
                    }
                    doc += `<tr><td>` + output.proof_info[i][0] + `</td>
                    <td>`+ stat + `</td>
                    <td>`+ output.proof_info[i][5] + `</td>
                    <td><button class="btn btn-primary" onclick="displayDocDetails('` + i + `')">View</button></td></tr>`;
                    $("#docdetail").append(doc)
                  }

                  $("#backgrounddetails").show()
                } else {
                  alert("Sorry! There are no record found based on your UID")
                }


              }
            });
          }
        })



      })

    </script>


    <script>
      var docs = null;
      function displayDocDetails(i) {
        var html = parseJsonToBootstrapHtml(docs[i][4]);
        $("#doc_res2").html(html);
        $('#myModal').modal('show');
      }
      function parseJsonToBootstrapHtml(jsonData) {
        const data = JSON.parse(jsonData);

        // Helper function to create a table from a 2D array
        function createTable(header, data) {
          let table = '<table class="table table-bordered"><thead><tr>';
          header.forEach(col => {
            table += `<th>${col}</th>`;
          });
          table += '</tr></thead><tbody>';
          data.forEach(row => {
            table += '<tr>';
            row.forEach(cell => {
              table += `<td>${cell !== null ? cell : ''}</td>`;
            });
            table += '</tr>';
          });
          table += '</tbody></table>';
          return table;
        }

        // Function to handle PAN_CARD type
        function renderPanCard(data) {
          return `
                <div class="card">
                    <div class="card-header">
                        PAN Card Details
                    </div>
                    <div class="card-body">
                        <p><strong>First Name:</strong> ${data.name.firstName}</p>
                        <p><strong>Last Name:</strong> ${data.name.lastName}</p>
                        <p><strong>PAN Number:</strong> ${data.name.panNumber}</p>
                        <p><strong>PAN Status:</strong> ${data.name.panStatus}</p>
                    </div>
                </div>
            `;
        }

        // Function to handle HS_MARKSHEET and SS_MARKSHEET types
        function renderMarksheet(data) {
          const marks = data.MARKS[0];
          const table = createTable(marks.TABLE.HEADER, marks.TABLE.DATA);
          return `
                <div class="card">
                    <div class="card-header">
                        Marksheet Details
                    </div>
                    <div class="card-body">
                        <p><strong>Board/University:</strong> ${data.BOARD_UNIVERSITY}</p>
                        <p><strong>Class:</strong> ${data.CLASS}</p>
                        <p><strong>District Code:</strong> ${data.DIST_CODE}</p>
                        <p><strong>Date of Birth:</strong> ${data.DOB !== null ? data.DOB : 'N/A'}</p>
                        <p><strong>Document Type:</strong> ${data.DOCUMENT_TYPE}</p>
                        <p><strong>Father's Name:</strong> ${data.FATHER}</p>
                        <p><strong>Mother's Name:</strong> ${data.MOTHER}</p>
                        <p><strong>Student's Name:</strong> ${data.NAME}</p>
                        <p><strong>Result Type:</strong> ${data.RESULT_TYPE}</p>
                        <p><strong>Roll Number:</strong> ${data.ROLL}</p>
                        <p><strong>School Code:</strong> ${data.SCHOOL_CODE}</p>
                        <p><strong>Stream:</strong> ${data.STREAM !== null ? data.STREAM : 'N/A'}</p>
                        ${table}
                    </div>
                </div>
            `;
        }

        // Main rendering logic
        let htmlContent = '';
        if (data.DOCUMENT_TYPE === 'PAN_CARD') {
          htmlContent = renderPanCard(data);
        } else if (data.data && (data.data.DOCUMENT_TYPE === 'HS_MARKSHEET' || data.data.DOCUMENT_TYPE === 'SS_MARKSHEET')) {
          htmlContent = renderMarksheet(data.data);
        }

        return htmlContent;
      }
    </script>

</body>

</html>